[build]
  command = "npm run build"
  publish = "dist"
  functions = "disabled-functions"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/divine-trinity/*"
  to = "/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
